
body{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.container {
    height: 600px;
    width: 600px;
    margin: 0;
    background-color: rgb(116, 110, 122);
    border: 2px solid green;
    position: relative;
}

#position-display {
    margin: 0;
    top: 50px;
    right: 50px;
    left: 50px;
    bottom: 50px;
    position: static;
    height: 200px;
    width: 200px;
    background-color: rgb(150, 150, 144);
    border: 2px dashed red;
    text-align: center;
    line-height: 200px;
    font-size: 1.5rem;
    z-index: 2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Lines to show position values */
.line {
    position: absolute;
    background-color: black;
}

.line-horizontal {
    height: 1.5px;
    width: 100%;
}

.line-vertical {
    width: 1.5px;
    height: 100%;

}

.top-line {
    top: 50px;
    background-color: rgb(35, 14, 226);
}

.left-line {
    left: 50px;
    background-color: rgb(43, 228, 74);
}

.right-line {
    right: 50px;
    background-color: rgb(240, 40, 83);
}

.bottom-line {
    bottom: 50px;
    background-color: rgb(236, 233, 38);
}

.postion-control-pannel{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.position-control-pannel-buttons{
    display: flex;
    justify-content: center;
    gap: 10px;;
    width: 100%;
};

.range-control {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    gap: 10px; /* Add spacing between grid items */
    background-color: blue;
    padding: 10px;
    color: white; /* For better visibility of text */
}

.range-control > div {
    display: grid;
    grid-template-columns: auto 1fr auto; /* Labels, sliders, outputs */
    align-items: center;
    gap: 10px; /* Add spacing between elements */
    background-color: rgba(255, 255, 255, 0.1); /* Slightly lighter background */
    padding: 5px;
    border-radius: 5px;
}
